.main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    box-shadow:inset -2px -2px 8px rgba(0,0,0,0.2);
}
.clearFloat:after{
display: block;
content:'';
clear: both;
height:0;
}
.main_header{
    width: 100%;
    // height: 320px;
}
.main_header_cate{
    margin: 0;
    height: 180px;
    width: 100%;
    border: 1px solid transparent;
}
.main_header_logo{
    width: 305px;
    height: 88px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_header_logo img{
    width: 100%;
    height: 100%;
}
.main_header_cateAll{
    width: 100%;
    position: relative;
}
.main_header_catalog{
    width: 845px;
    height: 40px;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 23px;
    color: #4c4c4c;
    line-height: 40px;
    text-align: center;
    display: -webkit-box;
    display: flex;
}
.main_catalog_item{
    flex: 1;
}
.main_catalog_item a{
    width: 100%;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    color: #4c4c4c;
    text-decoration: none;
    border-left: 1px solid #6d6a6a;
}
.main_header_catalog :first-child a{
    border-left: none;
}
.main_catalog_item:hover{
    color: #92684a;
    box-shadow:inset -2px -2px 8px rgba(0,0,0,0.2);
}
.main_header_category{
    height: 145px;
    width: 100%;
    position: absolute;
    background: #f6f6f6;
    z-index: 99;
    left: 0;
    display: none;
    //box-shadow:inset -2px -2px 8px rgba(0,0,0,0.2);
}
.main_catalog_item:hover .main_header_category{
    display: block;
}
.main_header_category .header_category_item{
    height: 100%;
}
.main_header_category .category_item_inner{
    padding-top: 25px;
    box-sizing: border-box;
    // position: relative;
}
.header_category_item .highimg{
    background: url(../i/high-img.png) center 40% no-repeat;
  }
  .header_category_item .website{
    background: url(../i/work-color.png) center 40% no-repeat;
  }
  .header_category_item .newUpload{
    background: url(../i/upload-color.png) center 40% no-repeat;
  }
  .header_category_item .taobao{
    background: url(../i/taobao-color.png) center 40% no-repeat;
  }
  .header_category_item .adDesign{
    background: url(../i/adDesign.png) center 40% no-repeat;
  }
  .header_category_item .designElem{
    background: url(../i/element-color.png) center 40% no-repeat;
  }
  .header_category_item .videoAE{
    background: url(../i/videoAE.png) center 40% no-repeat;
  }
  .header_category_item .interiorDesign{
    background: url(../i/interiorDesign.png) center 40% no-repeat;
  }
  
.main_header_category .category_item_inner:hover{
    background-color: #fff;
    color: #92684a;
}
.category_inner_list{
    width: 100%;
    background: #fff;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 145px;
    display: none;
}
.main_header_category .category_item_inner:hover .category_inner_list{
    display: block;
}
.inner_list_baseWidth{
    width: 1200px;
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box;
}
.list_baseWidth_left{
    width: 495px;
    float: left;
}
.baseWidth_left_item{
    margin-bottom: 120px;
}
.baseWidth_left_item_title{
    height: 45px;
    line-height: 45px;
    color: #4c4c4c;
    font-size: 19px;
    border-bottom: 2px solid #c0bfbf;
}
.baseWidth_left_item_title span{
    color: #898787;
    font-size: 17px;
    padding-left: 15px;
    box-sizing: border-box;
}
.baseWidth_left_item{
    margin-bottom: 80px;
}
.baseWidth_left_item_list ul li{
    list-style: none;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 10px;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #4c4c4c;
    border-right: 1px solid #c0bfbf;
}
.baseWidth_left_item_list ul li:last-child{
    border-right: none;
}
.list_baseWidth_right{
    width: 545px;
    float: right;
}
.baseWidth_right_item_title{
    height: 45px;
    line-height: 45px;
    color: #898787;
    font-size: 19px;
    border-bottom: 2px solid #c0bfbf;
}
.baseWidth_right_item_list ul li{
    list-style: none;
    float: left;
    width: 125px;
    height: 80px;
    margin-top: 25px;
    margin-left: 15px;
    overflow: hidden;
}
.baseWidth_right_item_list ul li img{
    width: 100%;
    height: 100%;
}
.baseWidth_right_item_list ul li:nth-child(4n+1){
    margin-left: 0;
}
.baseWidth_right_item_list ul li:nth-child(1),.baseWidth_right_item_list ul li:nth-child(2),.baseWidth_right_item_list ul li:nth-child(3),.baseWidth_right_item_list ul li:nth-child(4){
    margin-top: 15px;
}
.main_header_search{
    border: 1px solid transparent;
    // background: url(../i/main-head-bg.png) center center no-repeat;
    // background-size: 100% 100%;
    box-shadow:inset -2px -2px 8px rgba(0,0,0,0.2);
}
.main_search{
    width: 820px;
    height: 60px; 
    margin: 40px auto;   
    display: flex;   
    justify-content: center;
    align-items: center; 
    background-color: #f6f6f6;
    box-shadow: 0px 0px 6px 3px #eeeeee;
}
.main_search_input{
    width: 715px;
    height: 100%;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 40px;
    color: #4c4c4c;
    outline-style: none;
    border: 1px solid #e9e8e8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f6f6f6;
}
.main_search_btn{
    width: 125px;
    height: 100%;
    border: none;
    outline-style: none;
    background: url(../i/search-icon.png) center center no-repeat;
    background-size: 25% auto;
    background-color: #9f8572;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.main_search_btn:hover{
    background-color: #9f8572;
}
.main_swiper{
    width: 100%;
    height: 515px;
}
.main_swiper .swiper-slide{
    display: flex;   
    justify-content: center;
    align-items: center; 
}
.main_swiper .swiper-slide img{
    width: 100%;
    height: 100%;
}
.main-button-prev{
    width: 55px;
    height: 75px;
    left: 200px;
    background: url(../i/swiper-prev.png) center center no-repeat;
    background-size: 100% auto;
}
.main-button-next{
    width: 55px;
    height: 75px;
    right: 200px;
    background: url(../i/swiper-next.png) center center no-repeat;
    background-size: 100% auto;
}

.content_chioce .content_item_headerCate{  
    background: url(../i/choice-color.png) left center no-repeat;
}
.content_newUpload .content_item_headerCate{  
    background: url(../i/upload-color.png) left center no-repeat;
}
.content_poster .content_item_headerCate{  
    background: url(../i/poster-color.png) left center no-repeat;
}
.content_taobao .content_item_headerCate{  
    background: url(../i/taobao-color.png) left center no-repeat;
}
.content_element .content_item_headerCate{  
    background: url(../i/element-color.png) left center no-repeat;
}
.content_work .content_item_headerCate{  
    background: url(../i/work-color.png) left center no-repeat;
}

.sign-content {
    position: relative;
    width: 425px;
    height: 542px;
    padding-bottom: 50px;
    .main-content {
        position: relative;
        width: 425px;
        height: 337px;
        background: url(../i/signbg.png) no-repeat ;
        background-size: 425px 542px;
        padding-top: 205px;
        .main-content-date {
            width: 265px;
            margin: 0 auto;
            .points-day {
                width: 52px;
                height: 56px;
                border: 3px solid #ffdaab;
                padding-top: 10px;
                margin-right: 11px;
                margin-bottom: 5px;
                border-radius: 5px;
                color: #b76f14;
                overflow: hidden;
                background-color: #fffaec;
                cursor: pointer;
                span {
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
                .points {
                    font-weight: 500;
                    font-size: 12px;
                }
            }
            .points-day.active {
                background-color: #dfc7b6;
                color: #fff;
                font-weight: 700;
                border: 3px solid #9f8572;
            }
        }
    }
    .closed {
        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
        img:hover {
            cursor: pointer;
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
        }
    }
}