.ucenter{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow:inset -2px -2px 8px rgba(0,0,0,0.2);
}
.clearFloat:after{
display: block;
content:'';
clear: both;
height:0;
}
.ucenter_top{
    width: 100%;
    height: 750px;
    position: relative;
}
.ucenter_banner{
    height: 500px;
    width: 100%;
}
.ucenter_banner img{
    width: 100%;
    height: 100%;
}
.ucenter_info{
    width: 100%;
    height: 380px;
    z-index: 99;
    position: absolute;
    bottom: 0px; 
}
.ucenter_info_top{
    width: 100%;
    height: 120px;
    margin: 0 auto;
}
.info_top_inner{
    width: 700px;
    height: 100%;
    margin: 0 auto;
}
.ucenter_info_bottom{
    width: 100%;
    height: 215px;
    margin: 0 auto;
    background-color: #fff;
}
.info_inner_common{
    width: 175px;
    height: 100%;
    float: left;
    padding-top: 30px;
    box-sizing: border-box;
}
.info_inner_fans{
    float: right;
}
.info_inner_common p{
    text-align: center;
    color: #fff;
    line-height: 40px;
}
.info_inner_common .title{
    font-size: 33px;
}
.info_inner_common .num{
    font-size: 36px;
}
.info_bottom_inner{
    width: 700px;
    height: 100%;
    margin: 0 auto;
}
.inner_user_headImg{
    width: 158px;
    height: 158px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top: 30px;
    left: 880px;
}
.inner_user_headImg img{
    width: 100%;
    height: 100%;
}
.inner_user_name{
    margin-top: 70px;
    font-size: 30px;
    color: #4c4c4c;
    text-align: center;
    line-height: 50px;
    
}
.inner_user_desc{
    font-size: 20px;
    color: #898787;
    line-height: 25px;
    text-align: center;
}
.inner_user_btn{
    width: 290px;
    margin: 20px auto;
}
.inner_user_btn a{
    text-decoration: none;
    color: #9f8572;
}
.user_btn_item{
    display: block;
    width: 128px;
    height: 35px;
    border: 1px solid #9f8572;
    border-radius: 5px;
    float: left;
    font-size: 23px;
    text-align: center;
    line-height: 35px;
    color: #9f8572;
}
.start_writing{
    margin-left: 20px;
}
.user_btn_item:hover{
    background-color: #9f8572;
    color: white;
}

// .ucenter_info_inner{
//     width: 100%;
//     height: 100%;
//     position: relative;
//     border: 1px solid red;
//     background: red;
// }

.ucenter_container{
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    margin-top: 60px;
}
.ucenter_catelog{
    width: 100%;
    height: 100%;
    background: #fff;
}
.ucenter_catelog_inner{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
.ucenter_catelog_inner ul li{
    list-style: none;
    float: left;
    width: 238px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #4c4c4c;
    background-size: 25% auto;
}
.ucenter_catelog_inner ul li a{
    display: inline-block;
    color: #4c4c4c;
    text-decoration: none;
    width: 160px;
    height: 100%;
    line-height: 60px;
}
.ucenter_catelog_inner ul .li_upload{
    background: url(../i/upload.png) 15% center no-repeat;
}
.ucenter_catelog_inner ul .li_download{
    background: url(../i/download.png) 15% center no-repeat;
}
.ucenter_catelog_inner ul .li_collect{
    background: url(../i/collect.png) 15% center no-repeat;
}
.ucenter_catelog_inner ul .li_foot{
    background: url(../i/foot.png) 15% center no-repeat;
}
.ucenter_catelog_inner ul .li_message{
    background: url(../i/message.png) 15% center no-repeat;
}
.ucenter_catelog_inner ul li:hover a{
    border-top: 3px solid #9f8572;
    color: #9f8572;
    font-weight: bold;
}
.ucenter_catelog_inner ul .li_upload:hover{
    background: url(../i/upload-color.png) 15% center no-repeat;
    background-color: #f6f6f6;
}
.ucenter_catelog_inner ul .li_download:hover{
    background: url(../i/upload-color.png) 15% center no-repeat;
    background-color: #f6f6f6;
}
.ucenter_catelog_inner ul li:hover{
    background-color: #f6f6f6;
}
.ucenter_catelog_list{
    width: 100%;
    height: 65px;
    background: #f6f6f6;
    border-bottom: 1px solid #9f8572;
}
.ucenter_catelog_listInner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-top: 35px;
    box-sizing: border-box;
}
.ucenter_catelog_listInner ul li{
    list-style: none;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-left: 40px;
    font-size: 16px;
    color: #4c4c4c;
}
.ucenter_catelog_listInner ul li:first-child{
    margin-left: 0;
}
.ucenter_catelog_listInner ul li:hover{
    background: #9f8572;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
.ucenter_main_content{
    margin-top: 0;
}
