.uploadingCenter{
    width: 100%;
    height: 100%;
    background: #f6f6f6;
  }
  .clearFloat:after{
    display: block;
    content:'';
    clear: both;
    height:0;
    }
  .uploadingCenter_container{
    width: 1200px;
    height: 100%;
    margin: 15px auto;
    margin-bottom: 170px;
  }
.uploadBtn_item{
    display: block;
    float: right;
    height: 38px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: #9f8572;
    font-size: 15px;
    border: 1px solid #9f8572;
}
.uploadBtn_batch{
    margin-left: 15px;
}
.uploadBtn_item:hover{
  color: #fff;
  background: #9f8572;
}
.uploadingCenter_containerInner{
  width: 1200px;
  font-size: 14px;
  color: #4c4c4c;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 0 20px 30px 20px;
  box-shadow:1px 1px 6px 1px rgba(0,0,0,0.2);
  border: 1px solid blue;
}
.containerInner_fileList{
    width: 100%;
    height: 300px;
}
.uploadingCenter_uploadFile{
    width: 100%;
    background-color: #fff;
    margin-top: 40px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow:1px 1px 6px 1px rgba(0,0,0,0.2);
}
.uploadFile_remind{
  color: #898787;
  font-size: 16px;
  margin-top: 15px;
}
.uploadFile_remind a{
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
}
.uploadFile_content{
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  background-color: #f6f6f6;
}
.uploadFile_contentTop{
  width: 500px;
  height: 200px;
  margin: 90px auto;
}
.contentTop_btn{
  width: 250px;
  height: 60px;
  background: #9f8572;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
}
.uploadFile_contentTop p{
  color: #4c4c4c;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}
.uploadFile_contentTop .support{
  color: #898787;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}
.uploadFile_contentBottom{
  margin-top: 60px;
  color: #898787;
  font-size: 16px;
}
.uploadFile_contentBottom .contentBottom_remind{
  font-size: 18px;
}